
#head1{
    height:28px;
    width: 100%;
    background-color:#2E2E2E;
    /*position: fixed;*/
}
.surplusl{
    height:28px;
    width:10%;
    float: left;
}
#main{
    height:28px;
    width:20%;
    float: left;
}
#my-list{
    height:28px;
    width:45%;
    float: left;
}
#my-data{
    height:28px;
    width:15%;
    float:left;
}
.surplusr{
    height:28px;
    width:10%;
    float: right;
}
.main-table{
    height:100%;
    width:100%;
    font-size:13px;
    font-family:'幼圆';
    text-align:left;
    color:#E7E7E7;
    vertical-align: middle;
}
#main-table{height:100%;
    width:100%;
    font-size:13px;
    font-family:'幼圆';
    text-align:right;
    color:#E7E7E7;
    vertical-align: middle;}
th
{
    font-size:18px;
    font-family:'幼圆';
}
.menu-table-a
{
    font-size:15px;
    font-family:'幼圆';
    text-decoration: none;
    color: black;
}
.menu-table-a:hover
{
    color: blue;
}
.menu-table-a:visited
{
    color: black;
}
#img-{width:10%;float:left;}
#font-{width:90%;float:right;}
#address{height:15px;width:13px;}
.a-title{

    font-size:13px;
    font-family:'幼圆';
    text-decoration: none;
    color:#E7E7E7;
}
a:hover{
    font-size:13px;
    font-family:'幼圆';
    text-decoration: none;
    color:white;
}
#head2{
    height:80px;
    background-color:white;
    width: 100%;
}
#head2-body3
{
    height: 100%;
    width: 30%;
    float: left;
}
#head2-body3-table
{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    font-family: '幼圆';
    font-size: 20px;
}
#head2-body1{
    height: 100%;
    width: 10%;
    float: left;
    text-align: center;
}
#logo{
    height:80px;
    width:80px;
    margin-left:10%;
}
#head2-body2{
    height: 100%;
    width: 40%;
    float: left;
}
#head2-body2-table{
    height: 100%;
    width: 100%;
    text-align: center;
}
#ta-td1{
    border: solid 2px rgba(35, 17, 238, 0.23);
    height:30px;
    width:50%;
    border-radius:10px;
}
#ta-td2{
    height:30px;
    width:15%;
    border: none;
    border-radius:10px;
    font-size:15px;
    font-family:'幼圆';
    color:#303030;
    background-color:yellow;
}
#body-menu1{
    width:80%;
    margin-left: 10%;
    height:800px;
    margin-top: 5px;
    background-color:yellow;
}

#left{
    border-radius: 10px;
    margin-top: 0.3%;
    margin-right: 60%;
    width: 190px;
    height: 450px;
    background: #fdf0ff;
}
#le1{
    position: relative;
    left: -13%;
    top: 15%;
}
li{list-style-type:none;
    font-family: 幼圆;
    font-size: 20px;
}
a{color: #2f889a}
a:hover{color: #563D64;
    font-family: 幼圆;
    font-size: 20px;
}

#right{
    border-radius: 10px;
    position: relative;
    margin-top: -103%;
    margin-left: 115%;
    width: 800px;
    height: 450px;
    background:#fdf0ff;
}
#right1{
    border-radius: 10px;
    width: 700px;
    height: 370px;
    position: relative;
    left: 0%;
    top: 10%;
    display: none;
}
#right2{
    border-radius: 10px;
    width: 700px;
    height: 370px;
    position: relative;
    left: 0%;
    top: 10%;
    display: none;
}
#right3{
    border-radius: 10px;
    width: 700px;
    height: 370px;
    position: relative;
    left: 0%;
    top: 10%;
    display: none;
}





body{
	margin:0;
	color: #099fe2;
	background: #ffffff;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:#2f889a;text-decoration:none;}
a:hover{color:  #563D64}
.a-title{   color: #2f889a;}
input, button {
  outline: none;
  border: none;
}

.cc{

	position: absolute;
	left: 400px;
	top: 50px;
	z-index: 999;
	background: rgba(31, 42, 52, 0.8);

}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(/img/26.jpg) no-repeat center;

}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background: rgba(72, 72, 72, 0.69);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	        transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color: #0d1216;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;

}
.login-form .group .button:disabled{
	background-color: #898884;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color: #0d1216;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background: rgba(228, 227, 238, 0.97);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color: #d9e249;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background: rgba(13, 18, 22, 0.95);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	        transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	    -ms-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	    -ms-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color: #3e59ff;
}
.login-form .group .check:checked + label .icon{
	background: #0d1216;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	    -ms-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	    -ms-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	    -ms-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background: rgba(255, 255, 255, 0.91);
}
.foot-lnk{
	text-align:center;
	color: #FFFFCC;
}






#footer{
    height: 130px;
    width:100%;
    margin-top:10px;
    background-color:white;
    font-family:'幼圆';
    font-size: 15px;
    color:#5F5E5E;
}
#r1{
    height:130px;
    width:18%;
    float: left;
}
#r1-table{
    margin-top:25px;
    margin-left:50%;
}
#r2{
    height:130px;
    width:35%;
    float: left;
}
#r2-table{
    margin-top:25px;
    text-align: center;
    margin-left:20%;
}
#r3{
    height: 130px;
    width:15%;
    float: left;
}
#r3-table{
    margin-top:25px;
    text-align:center;
}
#r4{
    height: 130px;
    width:15%;
    float:left;
    text-align: center;
}
#r4-img{
    height:90px;
    width:90px;
    background-color:cadetblue;
    margin-top:22px;
}
#r5{
    height: 130px;
    width:17%;
    float: right;
}
#r5-table{
    height: 100%;
    width: 100%;
    vertical-align: middle;
}